@font-face {
  font-family: 'MyFont';
  src: url('./hldm.woff') format('woff'), url('./hldm.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  background: blue;
  font-family: 'MyFont';
}
